<html>
    <head>
        <title>D&D Python Random Generator</title>
    </head>
    <body>
        <h1>Random Dungeon Generator Game!</h1>
        <p>This game is reminiscent of the old text-based adventure games that used to come out, especially about D&D which was incredibly popular to nerds at the time. This game randomly generates a dungeon for you, with 10 encounter-able monsters and loot galore. You play as a level 5 fighter with an HP range of 35 to 50 points with an attack modifier of 3 and an armor class of 18. You'll face off with goblins, skeletons, and even a gelatinous cube! Along the way you can find armor and even a new weapon that will increase your attack and defense modifiers. Head over to the <a href="https://github.com/saintleocom/final-project-python-program-team-dnd">GitHub</a> for installation instructions.</p>
    </body>
</html>